*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(181, 181, 233);
    /* height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color: #5D8AA8; */
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 10%);
    padding: 10px;
    background-color: #6619FF;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px rgb(144,144,241);
    /* background-color: rgb(144, 144, 241); */
}
@media screen and (min-width:425px){
    .container{
        width: calc(100% - 20%);
    }
}
@media screen and (min-width:500px){
    .container{
        width: calc(100% - 45%);
    }
}
@media screen and (min-width:768px){
    .container{
        width: calc(100% - 60%);
    }
}
@media screen and (min-width:1024px){
    .container{
        width: calc(100% - 65%);
    }
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    /* height: 10vh; */
    /* background-color: greenyellow; */
    text-align: center;
    line-height: 10vh;
    font-size: 25px;
    font-weight: 900;
    color: white;
}
.box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    /* margin: 10px 0px; */
}
.fnaam{
    width: calc((100%)/2);
}
.lnaam{
    width: calc((100%)/2);
}
.box{
    display: flex;
    flex-direction: column;
    width: 100%;
}
input{
    /* height: 40px; */
    border: none;
    border-radius: 5px;
    padding: 10px;
}
::placeholder{
    font-size: 14px;
    font-weight: 500;
}
span{
    display: block;
    /* background-color: cadetblue; */
    color: rgb(134, 6, 6);
    height: 18px;
}
.t_c{
    display: flex;
    gap: 0px;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
    color: white;
    text-align: center;
}
@media screen and (min-width:353px){
    .t_c{
        gap: 10px;
    }
}
@media screen and (min-width:348px){
    .t_c{
        gap: 5px;
    }
}
#tc{
    height: 10px;
    width: 10px;
}
.btn{
    width: calc(100% - 20%);
    font-size: 18px;
    background-color: gray;
    border-radius: 20px;
    text-align: center;
}
.btn:hover{
    color: white;
    cursor: pointer;
}
.login{
    padding: 20px;
    font-size: 18px;
    color: white;
    text-align: center;
}
.login a{
    color: white;
}
footer{
    color: white;
    font-size: 16px;
}